

%nav.navbar.sticky-top.navbar-dark.bg-warning
  %a.navbar-brand 缶交大使
  %form.form-inline
    %input.form-control.mr-sm-2{"aria-label": "検索キーワード", placeholder: "投稿を検索する", :type => "search"}/
    %button.btn.btn-dark.my-2.my-sm-0{type: "submit"} 検索

.main
  .container
    #main_visual.carousel.slide{"data-ride": "carousel"}
      %ol.carousel-indicators
        %li.active{"data-slide-to": "0", "data-target": "#main_visual"}
        %li{"data-slide-to": "1", "data-target": "#main_visual"}
      .carousel-inner
        .carousel-item.active
          %img.img-fluid{alt: "缶詰写真", src: "/assets/さば缶.jpg"}/
          .carousel-caption.d-none.d-md-block
            %h1 好きな缶詰投稿してみませんか
            %p 缶詰は、味・保存性・栄養素が全て揃った人類の最高傑作です。是非自分の好きな缶詰を共有しましょう
        .carousel-item
          %img.img-fluid{alt: "缶詰写真", src: "/assets/みかん缶.jpg"}/
          .carousel-caption.d-none.d-md-block
            %h1.text-dark 缶詰の可能性は無限大
            %p.text-dark そのまま食べるもよし。一手間加えて食べるもよし。缶詰の魅力をUPさせる食べ方を紹介して、缶詰好きの輪を広げましょう
      %a.carousel-control-prev{"data-slide": "prev", href: "#main_visual", role: "button"}
        %span.carousel-control-prev-icon{"aria-hidden": "true"}
        %span.sr-only 前に戻る
      %a.carousel-control-next{"data-slide": "next", href: "#main_visual", role: "button"}
        %span.carousel-control-next-icon{"aria-hidden": "true"}
        %span.sr-only 次に進む

.album.py-5.bg-light
  .container
    .row
      .col-md-4
        .card.mb-4.shadow-sm
          %svg.bd-placeholder-img.card-img-top{"aria-label": "Placeholder: Thumbnail", focusable: "false", height: "225", preserveaspectratio: "xMidYMid slice", role: "img", width: "100%", xmlns: "http://www.w3.org/2000/svg"}
            %title Placeholder
            %rect{fill: "#55595c", height: "100%", width: "100%"}
            %text{dy: ".3em", fill: "#eceeef", x: "50%", y: "50%"} 投稿画像
          .card-body
            %p.card-text サバ缶うまいって。まじぱねぇ。超おすすめでござんす。
            .d-flex.justify-content-between.align-items-center
              .btn-group
                %button.btn.btn-sm.btn-outline-secondary{type: "button"} 詳細
                %button.btn.btn-sm.btn-outline-secondary{type: "button"} 編集
                %button.btn.btn-sm.btn-outline-secondary{type: "button"} 削除
              %small.text-muted 9 分前
      .col-md-4
        .card.mb-4.shadow-sm
          %svg.bd-placeholder-img.card-img-top{"aria-label": "Placeholder: Thumbnail", focusable: "false", height: "225", preserveaspectratio: "xMidYMid slice", role: "img", width: "100%", xmlns: "http://www.w3.org/2000/svg"}
            %title Placeholder
            %rect{fill: "#55595c", height: "100%", width: "100%"}
            %text{dy: ".3em", fill: "#eceeef", x: "50%", y: "50%"} 投稿画像
          .card-body
            %p.card-text サバ缶うまいって。まじぱねぇ。超おすすめでござんす。
            .d-flex.justify-content-between.align-items-center
              .btn-group
                %button.btn.btn-sm.btn-outline-secondary{type: "button"} 詳細
                %button.btn.btn-sm.btn-outline-secondary{type: "button"} 編集
                %button.btn.btn-sm.btn-outline-secondary{type: "button"} 削除
              %small.text-muted 9 分前
      .col-md-4
        .card.mb-4.shadow-sm
          %svg.bd-placeholder-img.card-img-top{"aria-label": "Placeholder: Thumbnail", focusable: "false", height: "225", preserveaspectratio: "xMidYMid slice", role: "img", width: "100%", xmlns: "http://www.w3.org/2000/svg"}
            %title Placeholder
            %rect{fill: "#55595c", height: "100%", width: "100%"}
            %text{dy: ".3em", fill: "#eceeef", x: "50%", y: "50%"} 投稿画像
          .card-body
            %p.card-text サバ缶うまいって。まじぱねぇ。超おすすめでござんす。
            .d-flex.justify-content-between.align-items-center
              .btn-group
                %button.btn.btn-sm.btn-outline-secondary{type: "button"} 詳細
                %button.btn.btn-sm.btn-outline-secondary{type: "button"} 編集
                %button.btn.btn-sm.btn-outline-secondary{type: "button"} 削除
              %small.text-muted 9 分前
%nav{"aria-label": "Page navigation example"}
  %ul.pagination.justify-content-center
    %li.page-item
      %a.page-link{"aria-label": "Previous", href: "#"}
        %span{"aria-hidden": "true"} «
        %span.sr-only Previous
    %li.page-item
      %a.page-link{href: "#"} 1
    %li.page-item
      %a.page-link{href: "#"} 2
    %li.page-item
      %a.page-link{href: "#"} 3
    %li.page-item
      %a.page-link{"aria-label": "Next", href: "#"}
        %span{"aria-hidden": "true"} »
        %span.sr-only Next
